<%= form_with model: @profile, :html => { :class => "p-5" } do |form| %>
  <h1>Modifier ce Profil</h1>
  <div class="row mb-2">
    <div class="col form-group" >
      <%= form.label :firstname %><br>
      <%= form.text_field :lastname, class: "form-control" %>
    </div>
      <div class="col form-group">
      <%= form.label :lastname %><br>
      <%= form.text_field :lastname, class: "form-control" %>
    </div>
  </div>
  
    <div class="form-group mb-2" >
      <%= form.label :description %><br>
      <%= form.text_area :description, class: "form-control" %>
    </div>
  
    <div class="form-group mb-2">
      <%= form.label :photo %><br>
      <%= form.file_field :photo, class: "form-control" %>
    </div>

    <div>
      <%= form.submit "Enregistrer les modifications", class: "btn btn-primary" %>
    </div>
  <% end %>
  