<h1>Tous les profiles</h1>

<!--<ul>
  <% @profiles.each do |profile| %>
    <li>
     <a href="/profiles/<%= profile.id %>">
      <%= profile.lastname %> <%= profile.firstname %>
      </a>
    </li>
  <% end %>
</ul>-->
 <div class="row">
<% @profiles.each do |profile| %>
<div class="card" style="width: 18rem; margin: 10px; display: flex">
<img class="card-img-top" src="<%= profile.image %>" alt="Image profile" style="max-width: 18rem;max-height:20rem">
</div>
<div class="card-body">
    <h5 class="card-title"><%= profile.lastname %> <%= profile.firstname %></h5>
    <p class="card-text"><%= profile.description %></p>
    <a href="/profiles/<%= profile.id %>" class="btn btn-primary">Consulter</a>
  </div>
</div>
<% end %>
</div>
<a href="/profiles/new">
<button class="btn btn-primary mt-1">Nouveau profile</button>
</a>
<!--<%= link_to "Nouveau Profile", new_profile_path %>-->
