<h1>Nouveau profile</h1>

<%= form_with model: @profile do |form| %>
  <div>
    <%= form.label :firstname %><br>
    <%= form.text_field :firstname %>
  </div>

  <div>
    <%= form.label :lastname %><br>
    <%= form.text_field :lastname %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :image %><br>
    <%= form.file_field :image %>
  </div>

  <div>
    <%= form.submit "Enregistrer le nouveau profil" %>
  </div>
<% end %>
