<div class="card" style="max-width: 30rem;">
  <img class="card-img-top" src="<%= @profile.image %>" alt="Image">
  <div class="card-body">
    <h5 class="card-title"><%= @profile.lastname %> <%= @profile.firstname %></h5>
    <p class="card-text">Description: <%= @profile.description %></p>
  </div>
  <div class="card-body">
    <%= link_to "Mettre à jour", edit_profile_path(@profile), class: "card-link" %>
    <%= link_to "Supprimer", @profile, data: {
                                         turbo_method: :delete,
                                         turbo_confirm: "Etes-vous sûr de vouloir supprimer ce profil ?",
                                       }, method: :delete, class: "card-link" %>
  <a href="/"style="margin-top: 20px;">Revenir aux profiles</a>
                                   
  </div>
</div>
